<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Knowledge Hub Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">List Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Submit Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Review Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse Article</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
